{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enformer</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
        <!-- TailwindCSS -->
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Elsie:wght@400;900&display=swap" rel="stylesheet">
  

</head>

<body>
  <header class="header">
    <nav class="bg-white border-gray-200 dark:bg-white">
      <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-3">
        <a href="/" class="flex items-center space-x-1 rtl:space-x-reverse">
            <img src="{% static '/img/logo.jpg' %}" class="h-8 bor" alt="Flowbite Logo" />
            <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-gray-900">Enformer</span>
        </a>
        <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
            </svg>
        </button>
          <div class="hidden w-full md:block md:w-auto justify-end" id="navbar-default">
            <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 bg-white md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white dark:bg-white md:dark:bg-white dark:border-white">
              <a href="/" class="{% block underline_home %}{% endblock %} text-gray-900 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Home</a>
              <a href="/blogs" class="{% block underline_blogs %}{% endblock %} text-gray-900 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Blogs</a>
              <a href="/profile" class="{% block underline_profile %}{% endblock %} text-gray-900 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Profile</a>
              <a href="/edit" class="{% block underline_edit %}{% endblock %} text-gray-900 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Edit</a>
              <a href="/add" class="{% block underline_add %}{% endblock %} text-gray-900 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Add</a>
              <a href="/{{login_value}}" class="{% block underline_login %}{% endblock %} text-gray-900 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">{{login_data}}</a>
              <a href="/about" class="{% block underline_about %}{% endblock %} text-gray-900 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">About Us</a>
              <a href="/contact" class="{% block underline_contact %}{% endblock %} text-gray-900 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Contact</a>
            </ul>
          </div>
      </div>
    </nav>
  </header>
              
  <main class="container mt-4>
    {% block content %}
    {% endblock content %}
  </main>
  <footer class="footer mt-auto py-3 sticky">
    <div class="container">
      <span class="text-body-secondary ">
        <ul class="nav border-bottom pb-3 mb-3 flex justify-center">
          <a href="#" class="{% block underline_home_f %}{% endblock %} text-gray-900 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Home</a>
          <a href="#" class="{% block underline_gallery_f %}{% endblock %} text-gray-900 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Gallery</a>
          <a href="#" class="{% block underline_teachers_f %}{% endblock %} text-gray-900 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Teachers</a>
          <a href="#" class="{% block underline_about_f %}{% endblock %} text-gray-900 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">About Us</a>
          <a href="#" class="{% block underline_contact_f %}{% endblock %} text-gray-900 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Contact</a>
        </ul>
        <p class="text-center text-body-secondary">© 2023 Company, Inc</p>
      </span>
    </div>
  </footer>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
<script src="https://cdn.tailwindcss.com"></script>

</html>